/* Embed */
.loader-container {
    position: relative;
    margin-left: 7.5%;
    display: inline-block;
}

.loader {
    display: inline-block;
    color: #ffb15e;
    text-shadow: none;
    font-family: Consolas, Menlo, Monaco, monospace;
    font-weight: bold;
    font-size: 84px;
    opacity: 0.8;
    left: 60px;
    top: 5px;
    position: absolute;
}

.animated {
    text-shadow: none;
    display: inline-block;
    animation: pulse 0.6s alternate infinite ease-in-out;
    font-size: 84px;
    color: #ffb15e;
    margin-left: 0.75rem;
}

.animated:nth-child(1) {
    text-shadow: none;
    display: inline-block;
    animation-delay: 0.4s;
    margin-right: 0.75rem;
}

@keyframes pulse {
    to {
        opacity: 0.5;
    }
}

/* Rocket */
#rocketLaunch {
    transition: transform 0.05s linear;
    transform: rotate(0deg);
    margin-right: 5%;
}

.loader-rocket {
    transition: 0.5s ease-in;
    width: 35px;
    height: 90px;
    display: inline-block;
    margin: 0 auto;
    position: relative;
    transform: rotate(45deg);
    border-radius: 50% 50% 0 0;
    border-top: 10px solid #c90000;
    border-bottom: 10px solid #c90000;
    background-color: #fff;
    background-image: radial-gradient(ellipse at center, #fff 34%, #c90000 35%, #c90000 50%, #fff 55%);
    background-size: 28px 28px;
    background-position: center 20px , center 2px;
    background-repeat: no-repeat;
    box-sizing: border-box;
    animation: animloaderBack 3s linear infinite alternate;
}
.loader-rocket-wing {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 55px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0px 15px #af0000 inset;
    top: 70px;
}
.loader-rocket-fire {
    z-index: -1;
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    box-shadow: 1px 1px 15px 1px #ffc65c;
    width: 34px;
    height: 34px;
    top: 112%;
    background: rgba(255, 141, 78, 0.75);
    border-radius: 50% 50% 0;
    background-size: 100px 100px;
    box-sizing: border-box;
}


@keyframes animloaderBack {
    0%, 30%, 70% {
        transform: translateY(0px);
    }
    20%, 40%, 100% {
        transform: translateY(-5px);
    }
}

@keyframes animloader {
    0% {
        width: 34px;
        height: 34px;
        background-position: -44px -44px;
        background-size: 100px 100px;
    }
    100% {
        width: 30px;
        height: 28px;
        background-position: -36px -36px;
        background-size: 80px 80px;
    }
}

/* Spirits  */

.loader-spirits {
    margin-right: 2.5%;
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    color: #fff;
}
.loader-spirits:before,
.loader-spirits:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
}
.loader-spirits:after {
    color: #02e1ff;
    transform: rotateY(70deg);
    animation-delay: .4s;
}

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotateZ(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotateZ(360deg);
    }
}

@keyframes rotateccw {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

@keyframes spin {
    0%,
    100% {
        box-shadow: .2em 0px 0 0px currentcolor;
    }
    12% {
        box-shadow: .2em .2em 0 0 currentcolor;
    }
    25% {
        box-shadow: 0 .2em 0 0px currentcolor;
    }
    37% {
        box-shadow: -.2em .2em 0 0 currentcolor;
    }
    50% {
        box-shadow: -.2em 0 0 0 currentcolor;
    }
    62% {
        box-shadow: -.2em -.2em 0 0 currentcolor;
    }
    75% {
        box-shadow: 0px -.2em 0 0 currentcolor;
    }
    87% {
        box-shadow: .2em -.2em 0 0 currentcolor;
    }
}

/* Globo */

.loader-glob {
    margin-left: 2.5%;
    margin-right: 2.5%;
    position: relative;
    font-size: 16px;
    width:  5.5em;
    height: 5.5em;
}
.loader-glob:before{
    content: '';
    position: absolute;
    transform: translate(-50%, -50%) rotate(45deg);
    height: 100%;
    width: 4px;
    background: #fff;
    left: 50%;
    top: 50%;
}
.loader-glob:after{
    content: '';
    position: absolute;
    left: 0.2em;
    bottom: 0.18em;
    width: 1em;
    height: 1em;
    background-color: #b3ea44;
    border-radius: 15%;
    animation: rollingRock 2.5s cubic-bezier(.79, 0, .47, .97) infinite;
}
@keyframes rollingRock {
    0% {transform: translate(0, -1em) rotate(-45deg)}
    5% {transform: translate(0, -1em) rotate(-50deg)}
    20% {transform: translate(1em, -2em) rotate(47deg)}
    25% {transform: translate(1em, -2em) rotate(45deg)}
    30% {transform: translate(1em, -2em) rotate(40deg)}
    45% {transform: translate(2em, -3em) rotate(137deg)}
    50% {transform: translate(2em, -3em) rotate(135deg)}
    55% {transform: translate(2em, -3em) rotate(130deg)}
    70% {transform: translate(3em, -4em) rotate(217deg)}
    75% {transform: translate(3em, -4em) rotate(220deg)}
    100% {transform: translate(0, -1em) rotate(-225deg)}
}



/* Img */

.loader-img {
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 64px;
    height: 64px;
    position: relative;
    background: #725eff;
    border-radius: 4px;
    overflow: hidden;
}
.loader-img:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 40px;
    height: 40px;
    transform: rotate(45deg) translate(30%, 40%);
    background: #ffffff;
    box-shadow: 32px -34px 0 5px #dedede;
    animation: slide 2s infinite ease-in-out alternate;
}
.loader-img:after {
    content: "";
    position: absolute;
    left: 10px;
    top: 10px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #f5f5f5;
    transform: rotate(0deg);
    transform-origin: 35px 145px;
    animation: rotate 2s infinite ease-in-out;
}

@keyframes slide {
    0% , 100%{ bottom: -35px}
    25% , 75%{ bottom: -2px}
    20% , 80%{ bottom: 2px}
}
@keyframes rotate {
    0% { transform: rotate(-15deg)}
    25% , 75%{ transform: rotate(0deg)}
    100% {  transform: rotate(25deg)}
}
